@import "../index.scss";

.Footer {
    @extend %centralize;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFF;
    clear:both;
  }
  .Footer-Logo{
      width: 120px;
  }