
.Header {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: Arial;
    color: white;
    font-weight: bold;
    max-height: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
  }